<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<head>
<meta charset="UTF-8"></meta>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css"
	rel="stylesheet" />

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/css/bootstrap-datetimepicker.min.css}" />
<link rel="stylesheet" th:href="@{/css/duenoStyles.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
	<div th:replace="fragments/header :: header2"></div>
    	
    	<div class="container">
    		<form id="myform">
    			<div class="row clearfix">
    				<div class="col-md-12 column">
    					
    	
    					<table class="table table-bordered table-hover table-striped" id="tab_logic">
    						<thead>
    							<tr>
    								<th class="text-center">NOMBRE</th>
    								<th class="text-center">FEC.NACIMIENTO</th>
    								<th class="text-center">RAZA</th>
    								<th class="text-center">CARACTER</th>
    								<th class="text-center">DESCRIPCION</th>
    								<th class="text-center">DUENO</th>
    								<th class="text-center">OPERACION</th>
    							</tr>
    						</thead>
    						<tbody>
    							<tr th:each="p: ${ListDogByOwner}">
    								<td th:text="${p.name}"></td>
    								<td th:text="${#dates.format(p.dateOfBirth,'dd/MM/yyyy')}"></td>
    								<td th:text="${p.race.nameRace}"></td>
    								<td th:text="${p.character.name}"></td>
    								<td th:text="${p.description}"></td>
    								<td th:text="${p.owner.firstNames}"></td>    								
    								
    							</tr>
    						</tbody>
    					</table> 
    					
    				</div>
    			</div>
    			
    		</form>
    	</div>	
		
    
    	
    <div th:replace="fragments/footer :: footer"></div>
    
    
	<script src="resources/js/script.js" type="text/javascript"
		xml:space="preserve"></script>
	<script src="resources/js/jquery.min.js" type="text/javascript"
		xml:space="preserve"></script>
	<script src="resources/js/popper.js" type="text/javascript"
		xml:space="preserve"></script>
	<script src="resources/js/bootstrap.min.js" type="text/javascript"
		xml:space="preserve"></script>
	<script src="resources/js/moment-with-locales.min.js"
		type="text/javascript" xml:space="preserve"></script>
	<script src="resources/js/bootstrap-datetimepicker.min.js"
		type="text/javascript" xml:space="preserve"></script>
	<script src="resources/js/main.js" type="text/javascript"
		xml:space="preserve"></script>
</body>
</html>